.container{
display: flex;
justify-content: center;
height: 100vh;
align-items: center;
}
.form{
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
border-color: black;
border: 1px;
background-color: rgb(122, 121, 121);
height: 25rem;
width: 25rem;
border-style: solid;
}
.elements button{
align-items: center;
margin-top: 10px;
background-color: blue;
border-color: transparent;
border-radius: 20px;
width: 20rem;
height: 25px;
font-size: large;
font-weight: bold;
color: white;
cursor: pointer;
}
.elements button:hover{
    background-color: rgb(25, 88, 1);
    color: rgb(255, 255, 255);
}
.element1{
    width: 20rem;
    height: 25px;
    border-radius: 5px;
    border-color: transparent;
    color: rgb(15, 15, 14);

}
.element2{
    width: 20rem;
    height: 25px;
    border-radius: 5px;
    border-color: transparent;
    color: rgb(15, 15, 14);
    margin-top: 5px;

}
.element3{
    width: 20rem;
    height: 25px;
    border-radius: 5px;
    border-color: transparent;
    color: rgb(15, 15, 14);
    margin-top: 5px;

}
.signUp-bottom{
    margin-top: 5px;
}
.signUp-bottom p{
    text-decoration: underline;
    color: rgb(89, 89, 216);
    margin-top: 10px;
}
.signUp-bottom p:hover{
    text-decoration: underline;
    color: rgb(89, 89, 216);
    cursor: pointer;
    color: brown;
}
.or h4{
    align-items: center;
    text-align: center;
    margin-top: 15px;
}
.header{
    font-size: 25px;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
    color: white;
    font-weight: bold;
}